header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px;
    border-style: solid;
    border-color: #CCCCCC;
}

.Logo{
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 20px;
    height: 70px;
    width: 100%;
}