.places{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.places article {
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    margin: 15px;
    padding: 20px;
    width: 390px;
  }
  
  /* Header 1 */
  .places h1 {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
  }
  
  /* Header 2 */
  .places h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }